<% provide :title,  t("static_pages.home.title")  %>
<h1><%= t "static_pages.home.title" %></h1>
<p>
  <%= t "static_pages.home.content" %>
  <a href="http://www.railstutorial.org/">
  <%= t "static_pages.home.content1" %></a>
  <%= t "static_pages.home.content2" %>
</p>
